 /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 a{
  text-decoration: none;
  color: #FFF;
 }

 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
 html {
  scroll-behavior: smooth;

}
html {
  font-family: 'Plus Jakarta Sans',sans-serif;;

}
 body{
    font-family: 'Plus Jakarta Sans',sans-serif;;
    color: var(--neutural-grey-1, #545971);
    font-feature-settings: 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
 }
 .header{
  background-color: #142257;
 width: 100%;
 z-index: 12;
position: fixed;
 }
.header_wrap{
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.33;
  padding: 20px 10px;
max-width: 1600px;
margin: 0 auto;
}
.nav_menu{
  display: flex;
  gap: 2.71vw ;
 list-style: none;
 transition: transform 0.5s; 
}

.nav_ref:hover{
  opacity: 25%;
}
.services_time{
 color: #FFF;
}
.services_time::before{ 
  border-radius: 50%;
  background-color: #FF5E5E;
  height: 12px;
  width: 12px;
  display: inline-block;
  content: "";
  margin-right: 10px;
}
.header__burger-btn{
  display: none;
 width: 24px;
 height: 24px;
position: absolute;
top: 15px;
right: 24px;
 z-index:12;
 overflow: hidden;
}
.header__burger-btn :hover{
 filter: brightness(0.7);
  cursor: pointer;
}.aboutus-discription__conteiner__namber :hover{
  filter: brightness(0.7);
  cursor: pointer;
}
.call_btn:hover{
  filter: brightness(0.7);
   cursor: pointer;
 }
 
body.menu-open {
  overflow: hidden;
}

.header__burger-btn span{
  height: 2px;
  width: 24px;
  top: 50%;
	left: 50%;
  border-radius: 1px;
  transform: translate(-50%, -50%);
  position: absolute;
background-color: #FFF;
}
.header__burger-btn span:nth-of-type(2) {
  top: calc(50% - 7px);
}
.header__burger-btn span:nth-of-type(3) {
  top: calc(50% + 7px);
}.header__burger-btn.active span:nth-of-type(1) {
  display: none;
}.header__burger-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.header__burger-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}
.menu{
  display: flex;
justify-content: space-between;
align-items: center;
z-index: 14;

}
.overlay{
  display: none;
  position: fixed;
width: 100vw;
height: 100vh;
}
.overlay.active{
display: block;
z-index: 11;

}
.content_bottom-header{
background-color: #142257;
padding: 87px 16px 0 16px;
display: flex;
justify-content: space-between;
height: 977px;
position: relative;
}
.content_bottom-header::before{
content: "";
background-image: url('img/botomImgLeft.png');
  position: absolute;
width: 26.2vw;
height: 45px;
left: 0px;
background-size: cover;
bottom: -5px;
background-position: right; 
}
.content_bottom-header::after{
  content: "";
  background-image: url('img/botomImgRight.png');
    position: absolute;
  width: 26.2vw;
  height: 45px;
right: 0px;
bottom: -5px;
background-size: cover;
}
.image-container {
  position: relative;
  display: inline-block;
  height: 836px;
  width: 413px;
}
.lefr_overlay-svg{
  position: absolute;
  top: -80px;
  left: -15px;
}
.right_overlay-svg{
  position: absolute;
  top: -80px;
  right: -16px;

}

.improv_container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}
.content_improv-container{
text-align: center;
font-family: 'Plus Jakarta Sans', sans-serif;
max-width: 673px;
padding: 0 10px;

}
.repairs_content{
  color: var(--neutural-grey-3, #9EA3B5);
  font-feature-settings: 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.40 ; 
margin-bottom: 24px;
}
.repairs_content samp:nth-child(-n+2)::after{
  border-radius: 50%;
  background-color: #9EA3B5;
  height: 6px;
  width: 6px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  content: "";
  margin:0 24px;
}
.improv_title{
  color: var(--neutural-white, #FFF);
 font-size: 64px;
font-style: normal;
/*font-size: calc(32px + 32 * (100vw /1920));*/
font-weight: 700;
line-height: 1.18; /* 118.75% */
margin-bottom: 24px;

}
.content_with-checkmark{
color: var(--primary-sky-blue, #15B2F5);
font-feature-settings: 'liga' off;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.6; /* 160% */
display: flex;
gap: 41px;
justify-content: center;
margin-bottom: 48px;
}
.content_with-checkmark span:before{
  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%2315B2F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
display: inline-block;
transform: translateY(5px);
padding-right: 8px;
}
.call_btn{
  border-radius: 60px;
  background-color: #15B2F5;
  display: inline-flex;
  justify-content: center;
align-items: center;
height: 64px;
width: 233px;
gap: 16px;
    animation: hoverWave linear 2s infinite;
}
.call_ref{
  font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.33; /* 133.333% */
}
.phone{
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; 
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-color:#FFF ;
  animation: shake 2000ms ease infinite; /* Применяем анимацию для трубки при наведении */

}
@keyframes hoverWave {
  0% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
  }

  40% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
  }

  80% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
  }

  100% {
      box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
  }
}
@keyframes shake {
  0% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
  }
  10% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
  }
  20% {
      transform: rotateZ(30deg);
      -ms-transform: rotateZ(30deg);
      -webkit-transform: rotateZ(30deg);
  }
  30% {
      transform: rotateZ(-20deg);
      -ms-transform: rotateZ(-20deg);
      -webkit-transform: rotateZ(-20deg);
  }
  40% {
      transform: rotateZ(10deg);
      -ms-transform: rotateZ(10deg);
      -webkit-transform: rotateZ(10deg);
  }
  50% {
      transform: rotateZ(-10deg);
      -ms-transform: rotateZ(-10deg);
      -webkit-transform: rotateZ(-10deg);
  }
  60% {
      transform: rotateZ(10deg);
      -ms-transform: rotateZ(10deg);
      -webkit-transform: rotateZ(10deg);
  }
  70% {
      transform: rotateZ(-7deg);
      -ms-transform: rotateZ(-7deg);
      -webkit-transform: rotateZ(-7deg);
  }
  80% {
      transform: rotateZ(5deg);
      -ms-transform: rotateZ(5deg);
      -webkit-transform: rotateZ(5deg);
  }
  90% {
      transform: rotateZ(-5deg);
      -ms-transform: rotateZ(-5deg);
      -webkit-transform: rotateZ(-5deg);
  }
  100% {
      transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      -webkit-transform: rotateZ(0deg);
  }
  
}
.conteiner_for-lelement{
justify-content: center;
align-items: center;
display: flex; 
gap: 2.71vw;
margin-top: 170px;
}
.ikon_with-text{
color: var(--neutural-white, #FFF);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 133.333% */
display: flex;
}
.ikon{
display: inline-flex;
justify-content: center;
align-items: center;  
border-radius: 100%;
background-color: #1F3584;
 width: 48px;
 height: 48px;
 margin-right:  16px;
}

/* end hedr + section 1   cont 1432 */

.aboutus-wrap{
 display: flex;
 max-width: 1480px;
 gap:clamp(32px,5% ,139px );
margin: 0 auto;
align-items: center;
justify-content: space-between;
padding-top:  clamp(60px,10% ,123px );
padding-left: 24px;
padding-right: 24px;
}
.aboutus__conteiner__img{
width: 100%;

object-fit: cover;
}
.aboutus-discription{
  max-width:  clamp(312px,45%,581px)  ;
}
.aboutus-discription__title{
  color: #171921;
  font-size: clamp(24px,4vw ,52px);
  font-style: normal;
font-weight: 700;
line-height:clamp(32px,5vw ,64px);
margin-bottom: 24px;
}
.aboutus-discription__skills{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: clamp(0px,2%,57px);
grid-row-gap: clamp(24px,7%,32px);
margin:clamp(32px,4%,56px)  0;
}
.aboutus-discription__skills__skill{
color: var(--primary-dark-blue-2, #1F3584);
font-feature-settings: 'liga' off;
font-size: clamp(16px,2.7vw ,20px);
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}
.aboutus-discription__skills__skill::before{

  content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%2315B2F5' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: inline-block;
  transform: translateY(0.1em);
  padding-right: 12px;

}
.aboutus-discription__conteiner{
  max-width: 450px;
  border-radius: 24px;
  color:  #FFF;
background: var(--primary-sky-blue, #15B2F5);
text-align: center;
padding: 12px 32px;
min-height: 80px;
}
/* end blok about us*/
.our-services-wrap{
margin: 0 auto ;
max-width: 1480px;
    padding-top: clamp(64px,11% ,200px);
    text-align: center;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: clamp(52px ,10vw,138px);
  }
.our-services_title{
  font-size: clamp(24px,8vw,52px);
font-style: normal;
font-weight: 700;
line-height: 64px; 
color: #171921; 
padding-bottom: clamp(12px,3% ,24px);
}
.our-services_description{
  max-width: 560px;
  margin: 0 auto;
  padding-bottom: clamp(32px,6% ,60px);
}
.our-services_skils{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
text-align: start;
}
.our-services_skils_skil{
padding: 32px;

}
.our-services_skils_img{
  display: inline-block;
  padding: 12px;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 20px;
background: #142257;
}
.our-services_skils_title{
  font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
padding-bottom: 12px;
color: #171921;
}
.our-button{
  border-radius: 24px;
background: #15B2F5;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.our-services_skils_title-button{
 color:  #FFF;
 padding-bottom: 10px;
text-align: center;
font-feature-settings: 'liga' off;
font-size: 24px;
font-weight: 700;
line-height: 32px; /* 133.333% */ 
}
.our-services_skils_description-button{
  color: #FFF;
  padding-bottom: 32px;;
}
.call-us-now{
  background-color: #FFF;
  text-align: center;
  max-width: 296px;
  width: 100%;
  border-radius: 60px;
  padding: 8px;
}
.call-us-now:hover{
      filter: brightness(0.7);
    cursor: pointer;
}
.call-us-now_ref{
  color: #15B2F5;
font-size: 24px;
font-weight: 700;
line-height: 40px; /* 133.333% */
}
/* end blok Our services*/
.advantages{
margin: 0 24px;
display: flex;
justify-content: center;
}
.advantages-conteiner{
  background-color: #142257;
  border-radius: 24px;
position: relative;
max-width: 1800px;
width: 100%;
padding: clamp(32px,9vw,64px) clamp(32px,6vw,180px);
}

.left-svg{
  position: absolute;
  left: 0;
  top: 117px;
  transform: translateX(-5px);
}
.right-svg{
  position: absolute;
  right: 0;
  top: 117px;
  transform: translateX(5px);
}
.advantages-text{
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  color: #9EA3B5;
  padding-bottom: clamp(52px,7vw,120px);
  gap : clamp(12px,3vh,80px) ;
}
.advantafes-text_title{
  font-size: clamp(24px,4vw,52px);
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  color: #FFF;  
  max-width: 747px;
  width: 100%;
}
.advantages__items{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: clamp(10px,4vw,60px) ;/* Задаем промежуток между строками */
  column-gap: clamp(10px,7vw,180px) 
}
.advantages-item__icon {
margin: auto 0;
}
.advantages-item__text{
color: #FFF;
font-size: clamp(18px,3vw ,24px);
font-style: normal;
font-weight: 700;
line-height: 32px ;
}
.advantages__items__item{
display: flex;
gap: clamp(5px,1vw,32px);
}
@media (max-width:1716px) {
  .left_image{
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }
  .lefr_overlay-svg svg{
    width: 366px;
    height: 969px;
    padding-top: 80px;
  }
  .right_img{
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
  }
  .right_overlay-svg svg{
    width: 366px;
    height: 975px;
    padding-top: 80px;
  }
}
@media (max-width:1561px) {
  .left_image{
    width: 312px;
    height: 100%;
  }
  .lefr_overlay-svg svg{
    width: 328px;
    height: 1050px;
  }
  .right_img{
    width: 312px;
    height: 100%;
  }
  .right_overlay-svg svg{
    width: 328px;
    height: 1055px;
  }
  .conteiner_for-lelement{
    flex-wrap: wrap;
    margin-top: 138px;
    max-width: 100%;
    padding: 0 10px;
    justify-content: space-between;
}
.improv_title {
  font-size: 44px;
}
  }
  @media (max-width:1479px) {

    .ikon_with-text {
      width: 250px;
      justify-content: start;
    }
    .ikon_with-text:nth-of-type(1) {
      justify-content: end;
    }
    .ikon_with-text:nth-of-type(3) {
      justify-content: end;
    }
    .our-services_skils {
    grid-template-columns: repeat(auto-fill,minmax(335px,1fr));
    } 
  }
  @media (max-width:1226px) {

    .ikon_with-text {
      width: 200px;
      justify-content: start;
    }  .aboutus-wrap{
flex-direction: column;
justify-content: center;
text-align: center;
  }
  .aboutus__conteiner{
    order: 1;
   
  }
  .aboutus-discription{
    order: 2;

    max-width: clamp(328px,100%,881px);
  }
  .aboutus-discription__skills{
  text-align: start;

  }
  .aboutus-discription__skills__skill{
    padding-left: clamp(0px,11%,100px)
  }
  .aboutus-discription__skills>div:nth-child(odd){
    padding-left: clamp(0px,14vw,170px);
  }
  .aboutus-discription__conteiner{
    margin: 0 auto;
  }
  .aboutus__conteiner__img{
    max-width: 512px;
  }
  .advantages-text{
    align-items: center;
  }

  }
  @media (max-width:1129px) {
    .left_image{
      width: 264px;
    }
    .lefr_overlay-svg svg{
      width: 281px;
      height: 1152px;
    }
    .right_img{
      width: 264px;
    }
    .right_overlay-svg svg{
      width: 281px;
    height: 1154px;
    }
  .improv_title {
    font-size: 44px;
  }
  .ikon_with-text{
    width: 185px;
  }
  .repairs_content{
    font-size: 16px;
  }

    }
    @media (max-width:1024px) {
      .left_image{
        width: 220px;
      }
      .lefr_overlay-svg svg{
        width: 235px;
        height: 1249px;
      }
      .right_img{
        width: 220px;
      }
      .right_overlay-svg svg{
    width: 242px;
    height: 1245px;
      }
      .right-svg,.left-svg{
        display: none;
      }
    }
    @media (max-width:928px) {
      .image-container{
        display: none;
      }
.repairs_content{
  font-size: 20px;
}
.improv_title {
  font-size: 64px;
}
.content_with-checkmark{
  padding-bottom: 50px;
  padding-top: 20px;
}
.conteiner_for-lelement {
  margin-top: 120px;
  flex-wrap: nowrap;
  justify-content: center;
}
.aboutus-discription__skills>div:nth-child(odd){
  padding-left:90px
}
.aboutus__conteiner__img{
  max-width: 412px;
}
    }
@media (max-width:780px){
  .header__burger-btn{
    display: block;
  }
  .header_wrap{
    padding: 12px 10px;
  }
  .menu{
    position: fixed;
  right: 0;
  top: 0;
 z-index: 10;
   min-width: 274px;
    height: 100vh;
    background:  #02123d;
    transition: transform 0.5s ease-in-out;
  transform: translateX(100%); /* Начальное смещение вправо */
  overflow-y: scroll;   
}
  .menu.active {
    transform: translateX(0);
  }
  .logo{
    position: absolute;
    left: 24px;
    top: 12px;
  }
  .nav_menu{
    flex-direction: column;
 gap: 64px;
 position:absolute;
 top: 80px;
 left: 99px;
  }
.services_time{
  position: absolute;
  left: 50px;
    bottom: 75px;
}
.repairs_content  {
  font-size: 16px;
}
.improv_title {
  font-size: 43px;
  margin-bottom: 0;
}
.content_with-checkmark{
  font-size: 16px;
  padding-bottom: 20px;
}
.improv_container{
  justify-content: start;
}
.ikon_with-text {
  height: 100%;
max-width:  100%;
width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: end;
}
.conteiner_for-lelement{
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  gap: 0;
  justify-content: center;
}
.ikon {
  margin: 0 0 10px 0 ;
}
.aboutus-discription__skills>div:nth-child(odd){
  padding-left:50px
}
.aboutus-discription__conteiner{
  padding: 12px 24px;
}

}
@media (max-width:749px){
  .advantages-text{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .advantages__items{
    grid-template-columns: repeat(1,1fr);
    row-gap: 52px;
  }
  .aboutus-discription__skills>div:nth-child(odd){
    padding-left:10px
  }
}
@media (max-width:505px){
  .aboutus-discription__skills{
    grid-template-columns: repeat(1,1fr);
  }
  .aboutus-discription__skills__skill{
    padding-left:0px
  }
  .aboutus-discription{
 text-align: start;
  }
  .our-services_skils {
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  row-gap: 52px;
  }
.our-services_skils_skil{
  padding: 16px;
}
.advantages-item__icon>img{
width: 60px;
height: 60px;
}
.advantages__items__item {
  gap: 15px;  
  flex-direction: column;
  text-align: center;
}
}

@media (max-width:442px){
  .repairs_content{
    font-size: 14px;
  }
  .ikon_with-text:nth-of-type(1) {
    justify-content: start;
  }
  .ikon_with-text:nth-of-type(3) {
    justify-content: start;
  }
  .improv_title{
    font-size: 32px;}
  .content_with-checkmark{
    font-size: 14px;
    margin-bottom: 0;
    padding: 24px 0;
    gap: 24px;
  }
  .aboutus-discription__skills>div:nth-child(odd){
    padding-left:0px
  }
  .content_improv-container{
    padding: 0;
  }
  .content_with-checkmark span:before{
    content: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%2315B2F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    transform: translateY(4px);
  }
  .call_btn{
    width: 175px;
    height: 48px;
    gap: 8px;
  }
  .call_ref{
       font-size: 18px
  }
  .content_bottom-header{
    height: 680px;
  }
  .phone{
    width: 26px;
    height: 26px;
  }
  .phone svg{
    width: 16px;
height: 16px;
  }
  .conteiner_for-lelement{
    padding-top: 39px;
  }
  .ikon_with-text{
    font-size: 14px;
    justify-content: start;
    height: 130px;
  }
  .content_bottom-header::after{
    height: 31px;
  }
  .content_bottom-header::before{
    height: 31px;
  }
  .repairs_content samp:nth-child(-n+2)::after{
    margin: 0 8px;
  }
  .ikon{
    width: 32px;
    height: 32px;
  }
  .ikon svg{
    width: 16px;
    height: 16px;
  }
  .our-services_skils_skil {
    text-align: center;
}
}
@media (max-width:338px){
 
  .content_bottom-header{
    padding: 87px 5px 0 5px;
    height: 780px
  }
}